header {
  position: relative;
  width: 100%;
  height: 100vh;
  background-image: url(..//img/bg.jpg);
  background-size: cover; /* Масштабирование картинки так, чтобы она полностью покрывала контейнер */
  background-position: center; /* Позиция картинки внутри контейнера */
  background-repeat: no-repeat;
}
header::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
h1 {
  color: #633a39;
  font-size: 5rem;
  width: 50%;
  height: 100%;
  margin-top: 8rem;
  margin-left: 5rem;
  line-height: 7rem;
}
nav {
  position: relative;
  z-index: 1;
}
.nav__wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.nav__wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 62px;
}

.nav__wave .shape-fill {
  fill: rgb(235, 241, 214);
}
.nav__block {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  height: 5.6rem;
  background-color: var(--main-bg-color);
}
.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 50%;
  align-self: flex-end;
  margin-left: 20rem;
}
.nav__list li > a {
  position: relative;
  cursor: pointer;
  transition: color 0.5s ease;
}
.nav__list li > a::after {
  position: absolute;
  content: '';
  bottom: -5px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: var(--hover-color);
  transition: width 0.5s ease;
}
.nav__list li > a:hover::after {
  width: 100%;
}
.nav__list li > a:hover {
  color: var(--hover-color);
}
.nav__logo {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}
.nav__logo i {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
}
.nav__login i {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  align-self: flex-end;
}
