.wrapper {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  height: 100%;

  border: 1px solid black;
}
.nav__block {
  width: 100%;
  height: 100%;
  height: 5.6rem;
  background-color: var(--main-bg-color);
  border: 1px solid black;
}
.nav__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 50%;
  align-self: flex-end;
  margin-left: 20rem;
}
.nav__logo {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}
.nav__logo i {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
}
.nav__login i {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  align-self: flex-end;
}
main {
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
.new {
  margin-top: 10rem;
  margin-bottom: 10rem;
  width: 100%;
  height: 100%;
}
.new__items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 3rem;
}
.new__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  width: 20rem;
  height: 34rem;
  border: 1px solid black;
}
.new__img {
  width: 100%;
  height: 16rem;
}
.new__img img {
  width: 100%;
  height: 100%;
}
.new__title {
  color: black;
}
.new__deskr {
  width: 90%;
  color: black;
}
.new__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border: 1px solid black;
  height: 3.125rem;
  width: 60%;
}
